* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body {
    font-family: Tahoma;
    background-color: #003;
    color: white;
    h1 {
        margin-top: 30px;
        text-align: center;
        color: #ffffffad;
        font-size: 40px;
    }
}
.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin: 10px;
            width: 40%;
            border-radius: 20px;
            height: 100px;
            background-color: #002;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1) rotate(-3deg);
            }
            &:nth-child(2):hover{
                transform: scale(1.1) rotate(3deg);
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

        }
    }
}
@media screen and (max-width: 767px){
    .con{
        ul{
            li{
                width: 75%;
            }
        }
    }
}