* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
body {
    font-family: Tahoma;
    background-color: #003;
    color: white;
    h1 {
        margin-top: 30px;
        text-align: center;
        color: #ffffffad;
        font-size: 40px;
    }
}
.con {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    ul {
        width: 60%;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #002;
            margin: 20px;
            padding: 5px;
            border-radius: 8px;
            span {
                margin-left: 30px;
                font-weight: bold;
            }
        }
    }
}

.input-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 50%;
    margin: 50px 0;
    background-color: #002;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

.input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: white;
    outline: none;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.invite-btn {
    position: absolute;
    width: 65px;
    right: 2px;
    top: 3px;
    bottom: 3px;
    z-index: 10;
    border-radius: 4px;
    background-color: #1313d7;
    color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: 0.6s ease;
    cursor: pointer;
}

.invite-btn:hover {
    opacity: 0.9;
}

.input-container input:placeholder-shown ~ .invite-btn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
}
.delete {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 69, 69);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    .svgIcon {
        width: 12px;
        transition-duration: 0.3s;
        & path {
            fill: white;
        }
    }
    &:hover {
        transition-duration: 0.3s;
        opacity: 0.5;
    }
}
@media (max-width: 767px) {
    .input-container {
        min-width: 300px;
    }
    .con {
        ul {
            width: 90%;
        }
    }
}
